@font-face {
  font-family: "Gothic A1";
  src: url("GothicA1-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1";
  src: url("GothicA1-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1";
  src: url("GothicA1-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.featured-products .page-width {
  padding: 0;
  font-family: "Gothic A1", sans-serif;
}
.featured-products .page-width .featured-products__title {
  font-family: "Gothic A1", sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  color: #656874;
}
.featured-products .page-width .featured-products__list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
}
.featured-products .page-width .featured-products__list .featured-products__image-wrapper {
  text-align: center;
}
.featured-products .page-width .featured-products__list .featured-products__image-wrapper img {
  width: 100%;
  max-width: 520px;
  height: auto;
}
.featured-products .page-width .featured-products__list .featured-products__product-title {
  text-align: center;
}
.featured-products .page-width .featured-products__list .featured-products__product-title .featured-products__product-link {
  text-decoration: none;
  color: #656874;
  font-size: 22px;
  line-height: 42px;
  font-weight: 700;
}
.featured-products .page-width .featured-products__list .featured-products__actions {
  text-align: center;
}
.featured-products .page-width .featured-products__list .featured-products__actions button {
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background-color: #464b90;
  border: none;
  padding: 18px 45px;
  border-radius: 40px;
  color: #ffffff;
  max-width: 285px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .featured-products .page-width {
    padding: 0 5rem;
  }
  .featured-products .page-width .featured-products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}